@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@200;300;400&display=swap');

/* --------Configuracion basica de body------ */
body {
    font-family: 'Roboto Slab', sans-serif;
    background-color: rgba(131, 126, 126, 0.836)
    } 

header {
        display: flex;
        justify-content: space-between; /* Distribuye los elementos en el header */
        align-items: center; /* Centra verticalmente los elementos */
        background-color: #7a7777; /* Cambia el color de fondo del header */
        color: rgb(31, 29, 29); /* Cambia el color del texto */
        padding: 10px 75px; /* Agrega espacio interno al header según sea necesario */
    }
    

/* -----tamaño del logo----- decidi ponerlo chico porque ocupaba mucho la pantalla al igual que las demas imagenes  */
nav{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    color: aquamarine;
    margin-bottom: 50px
}
.logo{
    border-radius: 55%;
    width: 100px; /* Ajusta el tamaño del logo*/
    height: 100px; /* Ajusta el tamaño del logo */
    margin: 0 auto; /* Centra horizontalmente el logo en el header */
    display: block; /* Evita que el logo afecte otros elementos en la misma línea */
}

.navbar navbar-expand-lg navbar-grey bg-grey{
    margin-bottom: 20px
    display: flex; 
    color: grey
}
.dropdown-menu{
background-color: rgba(116, 116, 116, 0.8);

--bs-dropdown-link-hover-bg: #525455;
--bs-dropdown-link-active-bg: rgb(77, 76, 76);
}
.intro{
    text-align: center; /* Centra el texto horizontalmente */
    max-width: 800px; /* Limita el ancho máximo para evitar que ocupe toda la pantalla */
    margin: 2px; /* Centra horizontalmente el elemento */
    padding: 20px; /* Añade espaciado interno para mejorar la legibilidad */
    font-family: Arial, sans-serif;
    font-size: 18px;
    margin-left: 200px;
    margin-right: 525px;

}
iframe{
    display: block;
    margin: 0 auto;
    margin-bottom: 30px; /* margen inferior */
    margin-top: 30px;
    width: 850px; /* Ancho deseado */
    height: 600px; /* Altura deseada */
    border: 3px solid #3333335b; /* Cambiar los bordes */
}

.consolas-ilustracion {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; /* Distribuye los elementos horizontalmente */
    margin-top: 100px
    
}

article {
    display: flex; /* Establece un contenedor flexible */
    flex-direction: column; /* Apila los elementos verticalmente */
    flex-basis: 570px; /* Ancho de cada artículo con espacio entre ellos */
    margin-bottom: 100px; /* Espacio entre los artículos verticalmente */
    align-items: center; /* Centra los elementos horizontalmente */
    text-align: center; /* Centra el texto horizontalmente */
    width: 100%

}
.ilustrative{
    width: 400px;
    height: 300px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center; /* Centrar verticalmente */
    justify-content: center; /* Centrar horizontalmente */
    text-align: center;
    margin: 100px 
    display:block
}
article p{
    margin-left: 10px;
    margin-right: 10px;
}

@media screen and (max-width: 700px) {
    .consolas-ilustracion {
        flex-direction: column; /* Cambia la dirección de flexbox a columna en dispositivos móviles */
        align-items: center;
    }

}


/* -----link interno que lleva a la sección de contactos--- */
.contactos-nosotros{
    text-align: left;
    text-decoration: none;
    color: rgb(7, 133, 91);

}


/* ----Lista de redes sociales---- NOTA: acá la verdad me hice lio porque no se me modificaba desde etiqueta <li> asique agregué tipo de clase a etiqueta <a> también me hice un poco de lío para querer moverlo mas a la izquierda pero no lo logre */

.redes {
    text-underline-offset: none;
    text-decoration: none;
    color: black;
}


