/* Encabezado */
header {
  display: flex;
  justify-content: center; /* Cambia ";" por ":" */
  align-items: center;
  background-color: #333;
  color: #fff;
  padding: 10px;

  .logo {
      width: 80px;
      height: 80px;
      margin-right: 20px;
      cursor: pointer;
  }
}

/* Menú de navegación */
.nav-list {
  list-style-type: none;
  display: flex;
  margin: 0;
  padding: 0;

  li {
      margin-right: 20px;

      a {
          text-decoration: none;
          color: #fff;
      }
  }
}

/* Nosotros */
#nosotros {
  background-color: #f2f2f2;
  padding: 20px;
}

/* Contenido Principal (Video) */
main {
  text-align: center;
  padding: 20px;

  iframe {
      max-width: 100%;
      height: auto;
  }
}

/* Sección de Artículos */
.articulos {
  display: flex;
  justify-content: space-between;
  margin: 20px;

  .article {
      text-align: center;

      img {
          max-width: 100%;
          height: auto;
          cursor: pointer;
      }
  }
}

/* Pequeña encuesta */
.encuesta {
  background-color: #f2f2f2;
  padding: 20px;
  text-align: center;

  form {
      display: flex;
      flex-direction: column;
      align-items: center;

      label, select, textarea {
          margin: 10px 0;
      }

      button[type="submit"], button[type="reset"] {
          background-color: #007BFF;
          color: #fff;
          padding: 10px 20px;
          border: none;
          border-radius: 5px;
          cursor: pointer;
          font-size: 16px;
          margin-top: 10px;
      }

      &:hover {
          background-color: #0056b3;
      }
  }
}

/* Footer */
footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 10px;

  .redes-sociales {
      list-style-type: none;
      padding: 0;

      li {
          display: inline;
          margin-right: 10px;

          a {
              text-decoration: none;
              color: #fff;
              font-size: 20px;
          }
      }
  }
}
